body {
     display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(246, 252, 255, 0.404);
    color: rgb(31, 42, 51);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.circle{
    border-radius: 40%;
    width: 200px;
    height: 200px;
    background-color: rgb(0, 206, 206);
}

