html {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 195, 250);
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.circle{
    border-radius: 50%;
    width: 100px;
    height: 200px;
    background-color: aqua;
}